appnope==0.1.0
blessings==1.6
bpython==0.14.1
colorama==0.3.3
coverage==3.7.1
curtsies==0.1.19
decorator==4.0.2
docopt==0.6.2
fn==0.4.3
nose==1.3.7
path.py==7.6
pbr==0.10.8
pexpect==3.3
pickleshare==0.5
pluggy==0.3.0
prompt-toolkit==0.46
ptpython==0.21
py==1.4.30
Pygments==2.0.2
six==1.9.0
stevedore==1.3.0
tox==2.1.1
traitlets==4.0.0
vboxapi==1.0
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
wcwidth==0.1.4
yapf==0.2.5
nose-watch
